
.footer-wrapper {
    background: #111115;
    display: flex;
    justify-content: center;

    
}
.footer-content{
    margin: 41px 30px 50px;
   width: 1160px;

    @include media-tablet{
        margin: 12px 20px;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include media-mobile{
        justify-content: center;
        flex-wrap:wrap;
    }
}

.footer-content-first-line {
    display: flex;

    justify-content: space-between;

    
    @include media-tablet{

        flex-direction: column;
        
        .footer-form{
            display: none;
           
        }
    }
    
    .logo-footer{
        @include media-mobile{
            margin: 0 auto;
        }
    }
    @include media-mobile{
        justify-content: center;
        
    }

    .footer-btn-tablet{
        display: none;

        @include media-tablet{
            margin-top: 32px;
            display: flex;
            
        }

        

    }
}

.footer-content-second-line {
    margin-top: 36px;

    @include media-tablet{
        display: none;
    }
}

.footer-content-third-line {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media-mobile{
        flex-wrap: wrap;
    }
    
    .footer-navigation{
        @include media-mobile{
            width: 100%;
        }
    }
    .navigation-footer{
        margin: 0;
       
       @include media-mobile{
        gap: 0;
 
        justify-content: space-around;
       }
    }

    .footer-author {

        p:first-child{
            margin-bottom: 10px;
        }
        p{
            
            @include font(16px,100);
            
            @include media-mobile{
                display: inline-block;
                width: 90%;
                text-align: end;
            }
        }

        @include media-mobile{
         display: flex;
         flex-wrap: wrap;
         
         order: -1;
         margin-bottom: 30px;

         p{
            font-size: 15px;
         }
        }
    }
    
    @include media-tablet{
        width: 100%;
    }

    
}

.socials {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    
    @include media-tablet{
        display: none;
    }
    .social {
        display: flex;
        align-items: center;
        gap: 12px;

       
        
    }
    .social-icon {
        width: 26px;
        height: 26px;
        background: rgba(196, 196, 196, 0.5);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.2s linear;
    
        &:hover, &:active{
             background-color: $color-green;
             cursor: pointer;

             
        }

   
        img{
            height: 16px;

            &.youtube{
                height: auto;
                width: 18px;
            }
        }
    }
    p{
        font-size: 16px;
        &:hover, &:active{
            color: $color-green;
            cursor: pointer;
       }

    }

    @include media-mobile{
        flex-direction: row;
        gap: 30px;
        margin-top: 20px;
        
    }
}

.social-tablet{
    display: none;
    row-gap: 20px;
    @include media-tablet{
        display: flex;

        p{
            display: none;
         }
    }
}

