.testimonials {
    padding-top: 140px;
    padding-bottom: 180px;
    position: relative;
    display: flex;
    justify-content: center;
  
    @include media-laptopsmall{
        padding-top: 100px;
        padding-bottom: 140px;
    }

    @include media-tablet{
        padding-top: 60px;
        padding-bottom: 85px;
    }

    @include media-mobile {
        padding-top: 30px;
        padding-bottom: 70px;
    }
}
.testimonial-bg-leaf{
    position: absolute;
    bottom: 0;
    right: 0;
   }

.testimonials-title {
    text-align: center;
    @include font(36px);
    color: $color-black_blue;
    margin-bottom: 47px;
    
    @include media-mobile{
        font-size: 24px;
        margin-bottom: 20px;
    }
}
.testimonials-content {
    max-width: 1160px;

    
    margin: 0 30px;
    display: flex;
    flex-wrap: nowrap;
    
    gap: 29px;

    scroll-behavior: smooth;
    
    &.scrollable{
        overflow-x:scroll;
        
    }
    @include media-laptopsmall{
        gap:2.1%
    }
   
    @include media-tablet{
        height: 370px;
        flex-wrap: wrap;
        gap: 15px;
        &.scrollable{
            overflow-x: hidden;
            overflow-y: scroll;
        }
        &:last-child{
            height: auto;
        }
    }

    @include media-mobile{
        margin: 0 12px;
    }
   
}


.testimonials-card {
   
    // overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    min-width: 265px;
    height: 385px;
  
 
    // min-width: 268px;
    background-color: $color-gray_light ;

    border: 1px solid pink;
    border-radius: 20px;
    
    margin-bottom: 20px;

    @include media-laptop{
        min-width: 31%;
    }
    
    @include media-tablet{
        margin-bottom: 0px;
        height: 110px;
        margin-right: 10px;
    }
}

.card-header {
    display: flex;
    margin: 16px 15px 0 15px;

    img{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        object-fit:cover
    }

    .testimonial-card-author {
        margin-left: 10px;
        .testimonials-name {
            @include font();
            color: #000;
           
        }

        .testimonals-details {
            @include font(15px,300);

            color: #BDBDBD;
        }
    }
}


.testimonial-card-text {
    margin: 10px 15px 0px;
    height: 75%;
    margin-bottom: 20px;
    overflow: hidden;
   
    @include font(15px,300);
    color: $color-gray;
    line-height: 120%;

    @include media-tablet{
        height: 33%;
    }
}

.testimonials-btn{
    margin-top: 60px;

    @include media-tablet{
        margin: 40px auto 0;
    }

    @include media-mobile{
        margin: 30px auto 0;
    }
}


.testimonials-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    
  }

  .testimonials-content::-webkit-scrollbar-track {
    background: whitesmoke;
    border: 1px solid wheat;
    border-radius: 5px; 
    margin: 0 100px;
    @include media-tablet{
        margin: 50px 0;
    }
  }
   
  /* Handle */
  .testimonials-content::-webkit-scrollbar-thumb {
    background: $color-orange; 
    
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .testimonials-content::-webkit-scrollbar-thumb:hover {
    background: $color-orange;; 
  }

  

  .card-active{
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 10000;
    min-width: 300px;
    max-width: 300px;

    display: flex;
    align-items: center;
    margin: 0 auto;
    height: auto;
    padding-bottom: 30px;

  
    
    @include media-tablet{
        height: auto;
        width: 300px;
    }
    }

    .dark-bg{
        transition: all .3s linear;
        position: fixed;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);

    }


  