.burger-bg{
    
    transition: all .4s linear;
    position: fixed;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}


.burger-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -100%;
    width: max(40%,200px);
    height: 100%;
    padding: 12px 20px 12px 12px;

    transition: all .4s linear;

    &.show-burger{
        right: 0%;
    }

    @include media-tablet {
        display: flex;
        background:white;
        flex-direction: column;
        justify-content: left;
       
        
    }

    
}

.burger-top-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
.burger-logo {
    width: 58px;
    height: 36px;

    @include font(15px,400,120%);
    color: #FE9013;

    border: 1px solid #FE9013;
    border-radius: 2px;
    text-align: center;
   
    position: relative;

    img{
        position: absolute;
        height: 15px;
        top:46%;
        left: 9%;
        filter: brightness(0) saturate(100%) invert(55%) sepia(93%) saturate(1058%) hue-rotate(350deg) brightness(102%) contrast(99%);       
    }
}

.burger-close{
   
img{
    transition: all 0.2s linear;
    &:hover{
        filter: brightness(0) saturate(100%) invert(55%) sepia(93%) saturate(1058%) hue-rotate(350deg) brightness(102%) contrast(99%);   
    }
}}

}


.burger-nav {
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    .burger-nav-item {
        list-style-type: none;

        a{
            transition: all 0.2s linear;
            font-size: 16px;
            color: black;
            text-decoration: none;

            &.active, &:hover{
                color: $color-orange
            }
        }
    }
}
