.footer-form {

    .form-label {
        display: block;
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 14px;
    }
    
    .form-email {
        width: 228px;
        height: 42px;
        background: #111115;
        border: 1px solid $color-orange;
        border-radius: 2px;
        color: $color-orange;
        padding: 0 10px;
        transition: all 0.2 linear;

        &::placeholder{
            color: #BDBDBD;
            font-size: 16px; 
        }

        &:hover, &:active{
            border: 1px solid $color-green;

            &::placeholder{
                color: $color-green;
            }
        }
    }

    .form-submit{
        width: 129px;
        height: 42px;
        background: #F1F3F2;
        border: 1px solid $color-green;
        border-radius: 5px;
        margin-left: 10px;

        font-size: 16px;
        color: $color-green;
    }
}


.donate-form {
    display: flex;
    flex-direction: column;
    
    .donate-form-range-label {
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        margin-bottom: 10px;

        @include media-tablet{
           margin-left: 12px;
        }
    }

    .donate-amount {
        position: relative;
        margin: 0 10px;

        .donate-amount-line{
            position: absolute;
            top:0;
            bottom: 50%;
            left: 0;
            right: 0;
            z-index: 2;
            background-color: #404950;
            display: flex;
            align-items: center;

            .inside-line{
                width: 100%;
                margin: auto 10px;
                border: 1px solid $color-gray_smoky;
                border-bottom: 0px;
            }

        }

        .donate-amount-container{
            position: sticky;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            margin: 3px 10px 0px;
        }
        
    }

    .radio-amount-block {
        height: 60px;

        @include media-tablet{
            &:first-child {
                display: none;
            }
          }

        @include media-mobile{
            &:nth-child(2){
                display: none; 
            }
        }
        .radio-amount {
        transition: all .2s linear;   
        margin-top: 7px;
        width: 10px;
        height: 10px;
        appearance: none;
        background-color: #eb000000;
        color: $color-orange;
        border: 5px solid $color-yellow;
        border-radius: 50%; 
        
          &:checked{
            margin-top: 4px;
            display: flex;
            align-items: center;

            width: 15px;
            height: 15px;
            box-shadow: #404950 0px 0px 0px 5px,
            rgb(255, 217, 19) 0px 0px 0px 7px;
            background-color: $color-yellow;
          }
        }
        .amount {
            height: 50%;
            font-weight: 500;
            font-size: 26px;
            padding-top: 6px;
            color: $color-black_blue;
           }
    }
    
    .donate-form-number {
        margin: 50px auto 25px;
        padding-left: 15px;
        width: 268px;
        height: 54px;
        color: #111115;
        background-color: #ffffff00;
        border: 1px solid #929699;
        border-radius: 2px;
        color: $color-black_blue;
        font-weight: 600;
        font-size: 20px;

        &::placeholder{
            font-size: 16px;
            color: #929699;    
        }

        &:hover, &:active{
            border: 1px solid $color-green;

            &::placeholder{
                color: $color-green;
            }
        }
        
        @include media-mobile{
            width: 180px;
            height: 42px;
            padding-left: 10px;
        }
    }

    .donate-radio-container{
        display: flex;
        justify-content: center;
        gap: 50px;

        .donate-form-radio-label {
            display: flex;
            gap: 10px;
            font-weight: 400;
            font-size: 16px;
            color: $color-black_blue;
            
            .donate-form-radio {  
                width: 16px;
                appearance: none;
                background-color: #00000000;
                color: $color-orange;
                width: 16px;
                height: 16px;
                border: 1px solid $color-orange;
                border-radius: 50%;
               
                &:checked{
                    border: 2px solid $color-orange;
                    background-color: #f97f4b8e
                }
            }
        }
    }
   
    .donate-btn {
        margin: 31px auto 0;
    } 
}


